{% extends 'base.html.twig' %}

{% block title %}
	L'accueil
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/accueil.js') }}" defer></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoc1qm_wW4HH6HfN3hty-_yl7XOg74g4o&callback=initMap&v=weekly" defer></script>
{% endblock %}

{% block body %}
	<div class="loadingscreen">
		<img src="{{asset('img/logoVDL.png')}}" alt="Logo">
	</div>
	<div id="map"></div>
	<div class="position-fixed top-0 end-0 mt-4 me-4">
		<button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#searchModalBackdrop">Rechercher</button>
	</div>
	<div id="logo"></div>
	<nav id="nav">
		<a href="{{ path('user.index') }}"><img src="{{ asset('img/user.svg') }}" alt="Profil"></a>
		<a href="{{ path('main.index') }}"><img src="{{ asset('img/map.svg') }}" alt="Itinéraire"></a>
		<a href="{{ path('main.index') }}"><img src="{{ asset('img/group.svg') }}" alt="Géolocalisation"></a>
		<a href="{{ path('app_gift') }}"><img src="{{ asset('img/gift.svg') }}" alt="Cadeaux"></a>
		<a href="{{ path('main.index') }}"><img src="{{ asset('img/balance.svg') }}" alt="Mentions générales"></a>
	</nav>
	<!-- Search modal -->
	<div class="modal fade" id="searchModalBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="searchModalBackdropLabel" aria-hidden="true">
		<div id="modaleTransition" class="modal-dialog">
			<div id="modalWidth" class="modal-content">
				<div id="modalHeader" class="modal-header">
					<h1 class="modal-title  fs-1 text fw-bold" id="searchModalBackdropLabel">Catégories</h1>
					<input class="fs-1 text me-1" type="text" placeholder="Quels lieux ?">
				</div>
				<div id="modalBody" class="modal-body">
					<div class="block"></div>
					<div class="block"></div>
					<div class="block"></div>
					<div class="block"></div>
					<div class="block"></div>
					<div class="block"></div>
					<div class="block"></div>
					<div class="block"></div>
					<div class="block"></div>
					<div class="block"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary fs-1 text" data-bs-dismiss="modal">Retour</button>
					<button type="button" class="btn btn-primary fs-1 text">Valider</button>
				</div>
			</div>
		</div>
	</div>

	<div class="bottom_button burger">
		<div class="burger-line" id="burger-line1"></div>
		<div class="burger-line" id="burger-line2"></div>
		<div class="burger-line" id="burger-line3"></div>
	</div>
	<div class="bottom_button geoloc">
		<img class="geoloc-loc" src="{{ asset('img/geo.png') }}" alt="Icone géolocalisation">
		<img class="geoloc-loc_blue" src="{{ asset('img/geo-blue.png') }}" alt="Icone géolocalisation">
	</div>
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<div id="modalcontent"></div>
		</div>
	</div>

{% endblock %}
