{% extends 'base.html.twig' %}

{% block title %}
	L'accueil
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/accueil.js') }}" defer></script>
	<script src="{{ asset('js/map.js') }}" defer></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoc1qm_wW4HH6HfN3hty-_yl7XOg74g4o&callback=initMap&v=weekly" defer></script>
{% endblock %}

{% block body %}
	<div id="map"></div>
	<nav id="nav">
	<img src="{{ asset('img/user.svg') }}" alt="Profil">
	<img src="{{ asset('img/map.svg') }}" alt="Itinéraire">
	<img src="{{ asset('img/group.svg') }}" alt="Géolocalisation">
	<img src="{{ asset('img/gift.svg') }}" alt="Cadeaux">
	<img src="{{ asset('img/balance.svg') }}" alt="Mentions générales">

	</nav>
	<div class="content position-absolute top-0 end-0">
		<form class="d-flex mt-4 me-2">
			<input class="form-control me-sm-2 fs-2 text" type="search" placeholder="Rechercher">
			<button class="btn btn-secondary my-2 my-sm-0 fs-2 text " type="submit">Rechercher</button>
		</form>
	</div>
	<div class="bottom_button burger">
		<div class="contain_burger_line" id="line1"></div>
		<div class="contain_burger_line" id="line2"></div>
		<div class="contain_burger_line" id="line3"></div>
	</div>
	<div class="bottom_button geoloc">
		<img class="geoloc-loc" src="{{ asset('img/geo.png') }}" alt="Icone géolocalisation">
		<img class="geoloc-loc_blue" src="{{ asset('img/geo-blue.png') }}" alt="Icone géolocalisation">
	</div>

{% endblock %}
