{% extends 'base.html.twig' %}

{% block title %}
	L'accueil
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/accueil.js') }}" defer></script>
	<script src="{{ asset('js/filtrage.js') }}" defer></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj0wyoLcY-O1Moukg9q-rI3a5cy3Dk_m4&callback=initMap&v=weekly" defer></script>

{% endblock %}

{% block body %}
	<div class="loadingscreen">
		<img src="{{asset('img/logoVDL.png')}}" alt="Logo">
	</div>
	<div id="map"></div>
	<div class="position-fixed top-0 end-0 mt-4 me-4">
		<button class="btn btn-secondary fs-1 text" data-bs-toggle="modal" data-bs-target="#searchModalBackdrop">Rechercher</button>
	</div>
	<div id="logo"></div>
	<nav id="nav">
		
			<a href="{{ path('user.index') }}" title="Profil"><img src="{{ asset('img/user.svg') }}" alt="Profil"></a>
			<p class="text_nav">Profil</p>
	
		
			<a href="{{ path('main.index') }}" title="Itinéraire"><img src="{{ asset('img/map.svg') }}" alt="Itinéraire"></a>
			<p class="text_nav">Itinéraire</p>
	
	
			<a href="{{ path('main.index') }}" title="Géolocalisation"><img src="{{ asset('img/group.svg') }}" alt="Géolocalisation"></a>
			<p class="text_nav">Géoloc</p>
		
			<a href="{{ path('app_gift') }}" title="Cadeaux"><img src="{{ asset('img/gift.svg') }}" alt="Cadeaux"></a>
			<p class="text_nav">Cadeaux</p>
	
			<a id="mentionslegales_btn" href="#" title="Mentions générales"><img src="{{ asset('img/balance.svg') }}" alt="Mentions générales"></a>
			<p class="text_nav">Mentions légales</p>
	
			<a href="{{path('contact.index') }}" title="Nous contacter"><img src="{{ asset('img/contact.svg') }}" alt="Nous contacter"></a>
			<p class="text_nav">Contact</p>
	

	</nav>
	<!-- Search modal -->
	<div class="modal fade" id="searchModalBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="searchModalBackdropLabel" aria-hidden="true">
		<div id="modaleTransition" class="modal-dialog">
			<div id="modalWidth" class="modal-content">
				<div id="modalHeader" class="modal-header">
					<h1 class="modal-title  fs-1 text fw-bold" id="searchModalBackdropLabel">Catégories</h1>
					<input class="fs-1 text me-1" type="text" placeholder="Quels lieux ?">
				</div>
				<div id="modalBody" class="modal-body">
					<div class="block nonfiltré">
						<h2>Tout</h2>
					</div>
					<div class="block castle">
						<h2>Chateau</h2>
					</div>
					<div class="block historic">
						<h2>Historique</h2>
					</div>
					<div class="block culture">
						<h2>Culturel</h2>
					</div>
					<div class="block place">
						<h2>Lieu intéréssant</h2>
					</div>
					<div class="block religion">
						<h2>Religieux</h2>
					</div>
					<div class="block restaurant">
						<h2>Restaurant</h2>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary fs-1 text" data-bs-dismiss="modal">Retour</button>
					<button type="button" class="btn btn-primary fs-1 text">Valider</button>
				</div>
			</div>
		</div>
	</div>

	<div class="bottom_button burger">
		<img id="img_burger" src="img/menu.png" alt="menu">
	</div>
	
	<div class="bottom_button geoloc">
		<img class="geoloc-loc" src="{{ asset('img/geo.png') }}" alt="Icone géolocalisation">
		<img class="geoloc-loc_blue" src="{{ asset('img/geo-blue.png') }}" alt="Icone géolocalisation">
	</div>
	<div id="myModal" class="modal">
		<div class="modal-content" id="modal-content_commentaire">
			<span class="close">&times;</span>
			<div id="modalcontent"></div>
		</div>
	</div>

{% endblock %}
